<div class="card">
  <div class="card-header">
    <strong class="float-left">Projects List</strong>
    <!-- It won't show if there is no project data -->
    <div class="card-actions">
      <a [routerLink]="['/projects/projectadd']" class="" *ngIf="hideWhenNoProject">
        <i class="icon-plus"></i>
      </a>
    </div>
  </div>

  <div class="card-body">

    <!-- Preloader shows before the data loads-->
    <div class="no-data text-center" *ngIf="preLoader">
      <img src="assets/preloader.gif" class="preloader-icon" alt="No answer">
    </div>

    <!-- No data shows when their is no project data available -->
    <div class="no-data text-center" *ngIf="noData">
      <p class="nodata-msg">No projects added yet!</p>
      <a [routerLink]="['/projects/projectadd']" class="btn btn-success">
        <i class="icon-plus"></i>
        Add Project
      </a>
    </div>

    <!-- Showing projects data -->
    <div *ngIf="hideWhenNoProject">
      <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
        <thead>
        <tr>
          <th scope="col">Project Status</th>
          <th scope="col">Project Id</th>
          <th scope="col">Project Name</th>
          <th scope="col">Telegram Token</th>
          <th class="text-center" scope="col">Edit</th>
          <th class="text-center" scope="col">Del</th>
        </tr>
        </thead>
        <tbody>
        <!-- *ngFor loop iterates over Project array and fetch the project's data -->
        <!-- paginate pipe will add pagination in project's list, it won't show if items are less then 7 -->
        <tr *ngFor="let project of Project | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
          <td>{{project.project_status == 'true' ? 'Active' : 'Not active' }}</td>
          <td>{{project.$key}}</td>
          <td>{{project.project_name}}</td>
          <td>{{project.telegram_token}}</td>
          <td class="text-center action-block">
            <i class="icon-pencil" [routerLink]="[project.$key]"></i></td>
          <td class="text-center action-block"><i class="icon-trash" (click)="deleteProject(project)"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- Pagination -->
    <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>

  </div>
</div>

